<div class="navbar">
  <div class="navbar-inner">
    <div class="row-fluid">
      <%= logo %>

      <div class="span10">
        <%= form_tag nil, class: "pull-left navbar-form form-search", 
                          id: "search-form" do %>
          <div class="input-append">
            <%= text_field_tag nil, nil, class: "search-query", 
                                         id: "address", 
                                         placeholder: "Type your ZIP code, city or address...", 
                                         data: {provide: "typeaheder"}, 
                                         autocomplite: "off" %>
            <%= button_tag(type: 'button', class: "btn", id: "search" ) do %>
              <%= content_tag(:i, nil, class: "icon-search") %>
            <% end %>
          </div>
        <% end %>
        
        <ul class="actions pull-right">
          <li>
            <%= link_to 'Add location or Event', '#', class: "popup-show btn", 
                                                      data: {remote: 'true'} %>
          </li>
          <li>
            <%= link_to 'Sign In', signin_path, class: "popup-show btn", remote: true %>
          </li>
        </ul>
      </div>


    </div>
  </div>
  
</div>