<div class="link-login">
  <%= link_to '', '', id: "fb" %>
  <%= link_to '', '', id: "tw" %>
</div>
<p>or</p>
<%= simple_form_for(:session, :url => sessions_path) do |f| %>
  <%= f.input :email, required: false %>
  <%= f.input :password, required: false %>
  <%= f.submit "Sign In" %>
<% end %>